<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692922201837-rbe5td5be50ojpco4atok9rj0s21263d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692922201837-rbe5td5be50ojpco4atok9rj0s21263d</string>
	<key>API_KEY</key>
	<string>AIzaSyC4BuRo9v2KQXR6-sblycztJaNvmzQV88g</string>
	<key>GCM_SENDER_ID</key>
	<string>692922201837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourfish.yourfish</string>
	<key>PROJECT_ID</key>
	<string>your-fish</string>
	<key>STORAGE_BUCKET</key>
	<string>your-fish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692922201837:ios:464c7080fb4b338d723ee4</string>
</dict>
</plist>